

#container {
    height: 100%;
    width: 100%;
    display: block;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.address-title {
    font-family: RobotoRegular;
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
}

.padding-t-20{
    padding-top: 20px;
}
    
.justify-center {
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 576px){
    .container-inputs{
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .contenedor-box {
        display: block;
    }  
    
}

@media (min-width: 800px){
    .container-inputs{
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .contenedor-box {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
    }

    #container {
        display:flex;
    }  
    
    .display-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    #container {
        height: 100%;
        width: 100%;
    }

}

@media (min-width: 1200px) {

}

@media (min-width: 1980px) {


}

