.text-align{
    text-align: end;
}

#cart {
    /* width: 25%; */
    margin-right: 30px;
    margin-left: 40px;
}

.cart-container-title {
    background-color: #ede9ea;
    text-align: center;
    padding: 5px 0px;
}

.cart-title {
    font-size: 1em;
    margin: 5px;
}

.contenedor-cart {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    border-bottom: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    padding: 20px 10px;
}

.item-1-cart {
    grid-row: 1; 
    grid-column: 1;
}

.botton-red {
    background-color: #d00f3e;
    color: #fff;
    border: 0px;
    padding: 10px 15px;
    font-family: RobotoRegular;
}

.background-gray{
    background-color: #ede9ea;
}

.background-black{
    background-color: #000;
    color: #fff;
}

.margin-0{
    margin: 0;
}

.roboto-regular-family{
    font-family: RobotoRegular;
}

.small-dot-decimal{
    font-size: 8px;
}

.text-end{
    text-align: end;
}

.padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 576px) {

}

@media (min-width: 800px) {
    #cart {
        /*width: 25%;*/
        margin-right: 40px; 
        margin-left:0px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1980px) {


}