    
.item-1 {
    grid-row: 1; 
    grid-column: 1;
}

#address-direction {
    /*width: 50%;*/
    border: 1px solid #d5d5d5;
    margin-right: 30px;    
    margin-left: 40px;   
    max-height: 800px; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-main {
    border-radius: 0px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #f0f0f0;
    border-radius: .25rem;  
    height: 20px;
}

.container-inputs{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.button-black {
    background-color: #010000;
    color: #d1d8da;
    border: 0px;
    padding: 9px 20px;
    font-size: 0.9em;
    margin-right: 10px;
    font-family: RobotoRegular;
}

.error{
    color: #e93241;
    font-size: 0.7em;
    font-style: italic;
    padding: 0;
    margin-top: -5px;
}

#facturacion:checked + label::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    background: rgba(0, 0, 0, 0);
    top: 8px;
    left: 2px;
    border: 3px solid #e93241;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
#facturacion {
    line-height: 2.1ex;
}
 
#facturacion {
    position: absolute;
    left: -999em;
}
 
#facturacion + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
 
#facturacion + label::before {
    content: "";
    display: inline-block;
    vertical-align: -8%;
    height: 12px;
    width: 12px;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
    margin-right: 0.5em;
}

.padding-r-10{
    padding-right: 10px;
}

.padding-r-4{
    padding-right: 4px;
}

.padding-l-4{
    padding-left: 0px;
}

.padding-b-10{
    padding-bottom: 10px;
}

.margin-b-5{
    margin-bottom: 5px;
}

.margin-t-15{
    margin-top: 15px;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fdfcfe;
    text-align: center;
    white-space: nowrap;
    background-color: #010000;
    border: 1px solid #010000;
    border-radius: 0;
    width: 25px;
    height: 20px; 
}

.width-100 {
    width: 100%;
}

.justify-center{
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10{
    margin-bottom: 5px;
}

@media (min-width: 300px){

    .contenedor {
        display: block;
    }    

    .address-container-title{
        border-bottom: 2px solid #111111;
        margin-bottom: 20px;
    }
    
    .input-group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }
    
    .inputs-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .justify-center{
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
}

@media (min-width: 800px){
    .container-inputs{
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .input-main {
        border-radius: 0px;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #f0f0f0;
        border-radius: .25rem;  
        height: 20px;
    }
    
    .address-container-title{
        border-bottom: 2px solid #111111;
        margin-bottom: 20px;
    }
    
    .input-group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }
    
    .display-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .inputs-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }  

    .padding-l-4{
        padding-left: 4px;
    }

    #address-direction {
        max-height: 500px; 
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .item-1-box {
        grid-row: 1; 
        grid-column: 1;
    }

    .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10{
        margin-bottom: 0px;
    }    
    
}

@media (min-width: 1200px) {

}

@media (min-width: 1980px) {

}