.contenedor-cart {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    border-bottom: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    padding: 20px 10px;
}

.name-product {
    font-size: 0.8em;
    margin: 0;
    color: #c2c2c2;
    font-family: RobotoRegular;
}

.price-product{
    font-size: 0.8em;
    margin: 0;
    margin-left: 20px;
    font-family: RobotoRegular;
}

.item-1-cart {
    grid-row: 1; 
    grid-column: 1;
}

.full-width {
    width: 65%;
    padding-left: 20px;   
}

.small-dot-decimal{
    font-size: 8px;
}

